.card-img{
    border-radius:2%;
    overflow:hidden;
}
.Card1{
    border-radius: 50%;
    width: 1000px;
    height: 350px;
    margin-left: 150px;
}
.Card2{
    width: 1000px;
    height: 350px;
    margin-left: 150px;
}
.Card3{
    width: 1000px;
    height: 350px;
    margin-left: 150px;
}
.Card4{
    width: 1000px;
    height: 350px;
    margin-left: 150px;
}
.Text1{
    color: darkgrey;
    margin-right: 705px;
    font-family:cursive;
}
.Text11{
    color: gainsboro;
    margin-right: 705px;
    font-family:cursive;
}
.Text2{
    color: darkgrey;
    margin-right: 705px;
    font-family:cursive;
    margin-top: 18px;
}
.Text22{
    color: gainsboro;
    margin-right: 705px;
    font-family:cursive;
}
.Text4{
    color: darkgrey;
    margin-right: 705px;
    font-family:cursive;
    margin-top: 30px;
}
.Text44{
    color: gainsboro;
    margin-right: 705px;
    font-family:cursive;
}
.img2{
    height:"100px";
}
.art1{
        color: gainsboro;
        margin-right: 705px;
        font-family:cursive;
        width: 30px;
        margin-top: 3px;
}
.art2{
    color: gainsboro;
    margin-left: 10px;
    font-family:cursive;
    width: 30px;
    margin-top: 3px;
}
.art3{
    color: gainsboro;
    margin-left: 10px;
    font-family:cursive;
    width: 30px;
    margin-top: 3px;
}
.art4{
    color: gainsboro;
    margin-left: 10px;
    font-family:cursive;
    width: 30px;
    margin-top: 3px;
}
.art5{
    color: gainsboro;
    margin-left: 10px;
    font-family:cursive;
    width: 30px;
    margin-top: 3px;
}
.art6{
    color: gainsboro;
    margin-left: 10px;
    font-family:cursive;
    width: 30px;
    margin-top: 3px;
}
.art7{
    color: gainsboro;
    margin-left: 10px;
    font-family:cursive;
    width: 30px;
    margin-top: 3px;
}
.art8{
    color: gainsboro;
    margin-left: 10px;
    font-family:cursive;
    width: 30px;
    margin-top: 3px;
}
.art9{
    color: gainsboro;
    margin-left: 10px;
    font-family:cursive;
    width: 30px;
    margin-top: 3px;
}
.art10{
    color: gainsboro;
    margin-left: 10px;
    font-family:cursive;
    width: 30px;
    margin-top: 3px;
}
.art11{
    color: gainsboro;
    margin-left: 10px;
    font-family:cursive;
    width: 30px;
    margin-top: 3px;
}
.art12{
    color: gainsboro;
    margin-left: 10px;
    font-family:cursive;
    width: 30px;
    margin-top: 3px;
}