.Container{
    background-color: black;
}
.Table{
    width: 500px;
    height: 500px;
}
.Head{
    color: azure;
}
.Info{
    color: azure;
}
/*.line{
    border-top: 1px solid #2B5CBA;
    height: 2px;
    width: 800px;
    padding: 0;
    margin: 20px auto 0 auto;
}*/


.bg-black{
    background-color: black;
}

.bg-white{
    background-color: white;
}

.overflow{
    overflow-x: hidden;
}
.btn_player {
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    background-color: #E5E5E5;
    border: 0px;
    margin-inline: 1rem;
    
}